body {
    font-family: "Work Sans";
}

.background {
    background-image: url('./images/banner/banner3.png');
    width: 100vw;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;

}

.header-items {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    margin-right: 230px;
    padding-top: 200px;
    color: white;
}

.header-title {

    font-weight: 700;
    font-size: 65px;
    width: 525px;
    height: 228px;
    margin-bottom: 24px;
}

.description {
    font-weight: 400;
    font-size: 16px;
    width: 494px;
    height: 78px;
    margin-top: 0px;
}

.btn-primary {
    padding: 20px;
    border-radius: 5px;
    border: none;
    color: rgb(0, 95, 172);
    font-family: Work Sans;
    font-size: 20px;
    font-weight: 600;
    text-align: right;
}

/* failure section  */
.failure-section {
    width: 1100px;
    height: 750px;
    margin: auto;
    display: flex;
    gap: 85px;
    border: 1px solid black;
    margin-top: 130px;
}

.failure-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.failure-details>p {
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
}

.failure-list>li {
    margin-bottom: 15px;
    color: rgb(68, 67, 67);
    font-size: 16px;
    font-weight: 400;
    text-align: left;
    list-style: none;
}

.failure-list>li::before {
    content: "\2714";
    color: rgb(22, 216, 135);
    margin-right: 10px;
}

.failure-title {
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}

/* my plan section  */
.my-plan-container {
    width: 1100px;
    margin: auto;
    margin-top: 130px;

}

.my-plan {
    text-align: center;
    color: rgb(21, 20, 20);
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 50px;
}

.my-plan-items {
    display: flex;
    justify-content: space-between;
    text-align: center;
    gap: 80px;
}

.plan-title {
    color: rgb(21, 20, 20);
    font-size: 30px;
    font-weight: 700;
}

.plan-purpose {
    color: rgb(115, 114, 114);
    font-size: 25px;
    font-weight: 500;
}

/* banner section  */
.bottom-banner {
    background-image:linear-gradient(to right, rgb(0, 0, 255,.7), rgb(0, 0, 255,0)), url(./images/watch.png);
    
    background-size: cover;
    background-repeat: no-repeat;
    width: 1100px;
    height: 300px;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 130px;
}

.banner-items {
    padding-top: 30px;
    margin-left: 60px;
}

.banner-title {
    color: rgb(255, 255, 255);
    font-family: Work Sans;
    width: 450px;
    font-size: 40px;
    font-weight: 700;
    text-align: left;
}